.seatContainer {
    margin: 20px;
    height: 260px;
    display: flex;
}

.seat {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 120px;
    margin: 20px;
    background: #aaa;
    color: white;
    cursor: default;
}

.seat.empty {
    background: #eee;
}

.seat:hover {
    background: #999;
}

.seat .hovered {
    display: none;
}

/* .seat:hover .default {
    display: none;
}

.seat:hover .hovered {
    display: block;
} */

.seat.selected {
    background: green;
}

.student-detail {
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    background: #eee;
    padding: 30px;
    transition: transform 0.2s;
}

.student-detail.hidden {
    /* transform: translateX(400px); */
}

.student-detail-header {
    height: 48px;
    display: flex;
    align-items: center;
}

.student-detail-header > svg {
    margin-right: 10px;
}

.student-detail-content {
    margin-left: 42px;
}

.student-name {
    font-size: 24px;
    font-weight: bold;
}

.student-info-charts {
}

.attendance-list {
    display: flex;
}

.attendance-item {
    width: 20px;
    height: 20px;
    margin: 1px;
}

.attendance-item.attended {
    background: green;
}

.attendance-item.absent {
    background: red;
}