.classroom {
    /* padding: 30px; */
}

.title-container {
    padding: 10px 30px;
    display: flex;
    background: #0375b4;
    color: white;
    align-items: center;
}

.page-title {
    font-size: 24px;
}

.name-filter-container {
    margin-left: 60px;
    position: relative;
}

.name-filter-container > svg {
    position: absolute;
    top: 8px;
    left: 4px;
    color: #ccc;
}

.name-filter-input {
    margin-top: 5px;
    width: 200px;
    height: 20px;
    font-size: 14px;
    padding: 4px 8px 4px 28px;
    outline: none;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 0px 2px black;
    transition: box-shadow 0.2s;
}

.name-filter-input:focus {
    box-shadow: 0px 0px 2px rgb(0, 153, 255);
}

.seat-outer {
    position: relative;
    height: 100%;
}

.seatContainer {
    padding: 30px;
    overflow: scroll;
    display: flex;
    background-color: #cef;
}

.seat {
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 70px;
    width: 120px;
    margin: 20px;
    border-radius: 8px;
    background: white;
    box-sizing: border-box;
    box-shadow: 0 0 4px #888;
    cursor: default;
    transition: all 0.2s;
}

.seat.empty {
    background-color: #eee !important;
    border: none;
}

.seat:hover {
    color: white;
    background-color: #999;
}

.seat.empty:hover {
    background-color: #eee;
}

/* .seat:hover .default {
    display: none;
}

.seat:hover .hovered {
    display: block;
} */

.seat.selected {
    color: white;
    background: rgb(102, 162, 248);
}

.student-detail {
    position: absolute;
    top: 0;
    right: 0;
    width: 450px;
    min-height: 100%;
    background: #eee;
    padding: 30px;
    box-shadow: 0 0 6px #666;
    transition: transform 0.2s;
    box-sizing: border-box;
}

.student-detail.hidden {
    transform: translateX(450px);
}

.student-detail-header {
    height: 36px;
    margin-top: 10px;
}

.student-detail-header.selectable {
    cursor: pointer;
}

.student-detail-header.selectable:hover {
    color: rgb(102, 162, 248);
}

.student-detail-header > svg {
    margin-right: 10px;
}

.student-detail-content {
    margin-left: 42px;
}

.student-name {
    font-size: 24px;
    font-weight: bold;
}

.student-info-chart-container {
    padding: 30px 100px;
    display: flex;
}

.attendance-list {
    display: flex;
}

.attendance-item {
    width: 20px;
    height: 20px;
    margin: 1px;
}

.attendance-item.attended {
    background: green;
}

.attendance-item.absent {
    background: red;
}

.writing-body {
    position: relative;
    margin-top: 12px;
    margin-left: 40px;
}

.mock-start-button {
    position: fixed;
    right: 0;
    margin-left: 60px;
    padding-left: 30px;
    height: 30px;
    background: black;
    opacity: 0.4;
    color: white;
    font-size: 20px;
    border: 0;
    transform: translateX(140px);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.mock-start-button:hover {
    transform: translateX(0);
}

.seatmap-preview-list {
    display: flex;
    flex-wrap: wrap;
}

.seatmap-preview-item {
    margin-right: 30px;
    padding: 20px;
    cursor: pointer;
}

.seatmap-preview-item:hover {
    background: #eee;
}

.seats-preview {
    position: relative;
    width: 380px;
    height: 250px;
    /* border: 1px #ccc solid; */
    overflow: hidden;
}

.seats-preview-content {
    margin-left: -120px;
    margin-top: 20px;
}

.seats-preview-item {
    position: absolute;
    width: 100px;
    height: 60px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.seatmap-preview-edit-button {
    float: right;
    visibility: hidden;
    color: #39d;
}

.seatmap-preview-item:hover .seatmap-preview-edit-button {
    visibility: visible;
}

.seatmap-preview-edit-button:hover {
    color: #159;
}

.writing-submission-container {
    width: 100%;
}

.writing-submission {
    width: 400px;
    margin: 0 auto;
}

.writing-submission .form-label {
    color: #39d;
}

.writing-submission select {
    width: 100%;
    outline: none;
    border: none;
    font-size: 20px;
    padding: 4px;
}

.writing-submission .content-edit {
    width: 100%;
    height: 300px;
    font-size: 20px;
    outline: none;
    border: 1px #ddd solid;
    overflow-y: scroll;
}

.writing-submission button {
    width: 100%;
    font-size: 20px;
    outline: none;
    padding: 10px 0;
    border: 1px #ddd solid;
    border-radius: 20px 20px;
    color: white;
    background-color: #39d;
}

.writing-submission-form-item {
    margin-bottom: 20px;
    font-size: 20px;
}

.common-keyword-container {
    position: absolute;
    background: black;
    color: white;
    width: 300px;
    transform: translate(calc(-100% - 10px), calc(-50% + 10px));
    box-shadow: 0px 0px 3px black;
}

.common-keyword-container::after {
    content: '';
    position: absolute;
    right: -10px;
    top: calc(50% - 10px);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
	border-left: 10px solid black;
	border-bottom: 10px solid transparent;
}

.highlighted-keyword {
    color: #c22;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0) !important;
}

.context-word-item {
    cursor: pointer;
    padding: 10px;
}

.context-word-item:hover {
    background: #333;
}

.no-common-keywords-container {
    padding: 10px;
}

.homework-grade-container {
    height: 240px;
}