.seat-designer {
    background-color: #c4dfe6;
    padding: 20px;
}

.seat-designer-header {

}

.seat-designer-title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.seat-template-options {
    display: flex;
    align-items: center;
}

.seat-designer-save-btn {
    margin: 0 20px;
}

.seat-designer-save-btn {
    color: #39d;
    cursor: pointer;
}

.seat-designer-save-btn > svg:hover {
    color: #159;
}

.seat-template-item {
    width: 150px;
    padding: 4px;
    text-align: center;
    /* border: 1px black solid; */
    cursor: pointer;
    margin-left: 10px;
    border-radius: 16px;
    background: white;
    box-shadow: 0 0 4px #666;
}

.seat-template-item:hover {
    /* background: white; */
}

.seat-template-item.selected {
    background: #aaa;
}

.designer-dropdown {
    z-index: 1;
    position: absolute;
    background: white;
    padding: 10px;
    box-shadow: 0 0 4px #666;
    visibility: hidden;
    margin-top: 5px;
}

.seat-template-item:hover .designer-dropdown {
    visibility: visible;
}

.rows-template-menu-row {
    display: flex;
}

.rows-template-menu-item {
    width: 20px;
    height: 20px;
    margin: 2px;
    border: 2px #aaa solid;
    border-radius: 4px;
}

.rows-template-menu-item.active {
    background: #ccc;
}

.designer-dropdown-text {
    font-size: 12px;
    color: #666;
}

.designer-dropdown-selection.row {
    display: flex;
}

.seatmap-edit-container {
    display: flex;
}

.existing-seatmap-list {
    width: 300px;
}

.seat-area {
    position: relative;
    flex-basis: 100%;
    width: 100%;
    height: 800px;
    /* background: #66a5ad; */
}

.seat-item {
    position: absolute;
    width: 80px;
    height: 50px;
    margin-left: -40px;
    margin-top: -25px;
    border: 4px #07575b solid;
    border-radius: 8px;
    cursor: move;
}

.seat-item.selected {
    border-color: red;
}

.seat-rotator {
    position: absolute;
    right: -10px;
    top: -10px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    visibility: hidden;
    cursor: grab;
}

.seat-item:hover .seat-rotator {
    visibility: visible;
}

.seatmap-name-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.seatmap-name-modal {
    width: 400px;
    padding: 20px;
    background: white;
}

.seatmap-name-label {
    font-size: 20px;
}

.seatmap-name-input {
    height: 20px;
}